body {
    font-family: sans-serif;
}

li {
    font-family: inherit;
}

h1 {
    color: blue;
    font-family: sans-serif;
}

.second-li code {
    color: green;
}

code {
    color: red;
    font-family: monospace;
}

/*li + li {*/
/*    background: black;*/
/*    color: white;*/
/*}*/

ol > li {
    background: black;
    color: white;
}



